﻿<!DOCTYPE html>
<html>
<head>
    @*<script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.noStyle.js"></script>*@
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/dist/styles/ag-theme-alpine.css">
    <script src="https://unpkg.com/ag-grid-enterprise/dist/ag-grid-enterprise.min.noStyle.js"></script>
    <script src="~/js/Main.js"></script>
</head>
<body>
    <h1>Hello from ag-grid!</h1>

    <button onclick="getSelectionRow()">Get select Rows</button>
    <div id="myGrid" style="height: 500px;width:900px;" class="ag-theme-alpine"></div>

    <script type="text/javascript" charset="utf-8">

            //var columnDefs = [
            //    { headerName: "Make", field: "make" },
            //    { headerName: "Model", field: "model" },
            //    { headerName: "Price", field: "price" }
            //];

            //var gridOptions = {
            //    columnDefs: columnDefs
            //};

            //// lookup the container we want the Grid to use
            //var eGridDiv = document.querySelector('#myGrid');

            //// create the grid passing in the div to use together with the columns & data we want to use
            //new agGrid.Grid(eGridDiv, gridOptions);

            //agGrid.simpleHttpRequest({ url: 'https://raw.githubusercontent.com/ag-grid/ag-grid/master/grid-packages/ag-grid-docs/src/sample-data/rowData.json' }).then(function (data) {
            //    gridOptions.api.setRowData(data);
            //});

    </script>
</body>
</html>
