﻿@model IEnumerable<TestCoreForScaffolding.Models.StudentTbl>

@{
    ViewData["Title"] = "StudentList";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>StudentList</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.SName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SContact)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.SName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.SContact)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.SId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.SId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.SId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
